# Node stuff
node_modules/

# Settings
config.json

# Log streams
log/

# Temp stuff (like the db) (yes that is temporary)
tmp/

# Workspace settings
.vscode/

# No more locks
package-lock.json
yarn.lock
pnpm-lock.yaml